In [1]:
import pandas as pd

0 secs - video data starts
34 secs - sensor data starts
46 secs - attention intervals start

In [15]:
sensor_data = pd.read_csv("data/sensor.csv", delimiter=";")
attention_interval = pd.read_csv("data/attention_intervals.csv")

In [16]:
#add timing indicator
sensor_data.insert(0, "index", range(0,len(sensor_data)))
sensor_data["seconds"] = sensor_data["index"] * 15 + 34

In [17]:
attention_interval += 46

In [18]:
sensor_data

,index,Date and time,Temperature °C,RH %,DewPoint °C,CO2 ppm,seconds
0,0,9-3-2023 15:17:00,"21,220","26,587","1,302",NaN,34
1,1,9-3-2023 15:17:15,"21,230","26,550","1,292","537,000",49
2,2,9-3-2023 15:17:30,"21,241","26,508","1,278","537,000",64
3,3,9-3-2023 15:17:45,"21,241","26,489","1,268","537,000",79
4,4,9-3-2023 15:18:00,"21,241","26,453","1,249","537,000",94
...,...,...,...,...,...,...,...
117,117,9-3-2023 15:46:15,"21,200","26,117","1,055","511,000",1789
118,118,9-3-2023 15:46:30,"21,220","26,099","1,046","511,000",1804
119,119,9-3-2023 15:46:45,"21,200","26,117","1,038","511,000",1819
120,120,9-3-2023 15:47:00,"21,200","26,117","1,038","511,000",1834
121,121,9-3-2023 15:47:15,"21,200","26,099","1,029","484,000",1849